.login-background{
    background-image: url('../Images/fondopro2.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.admin-background{
    background-image: url('../Images/fondoadmin.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tablaUsers th {
    background-color: #4CAF50;
    color: white;
}

.tablaUsers, .tablaUsers th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tablaUsers th {
    padding-top: 12px;
    padding-bottom: 12px;
    
    background-color: #4CAF50;
    color: rgb(17, 33, 87);
}

.table-container {
    margin-top: 20px;
    width: 85%;
  }

  .centrar-tabla {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }